* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(23, 16, 68);
}

h1 {
    text-align: center;
    font-size: 80px;
    color: cyan;
    text-shadow: 4px 4px 5px chartreuse;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: 4px 4px 5px chartreuse;
}

input {
    height: 25px;
    padding-left: 25px;
    outline: none;
    margin-bottom: 25px;
    border-radius: 25px;
}

button {
    font-size: 40px;
    display: block;
    margin: auto;
    font-weight: bold;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background: rgba(72, 61, 139, 0.5);
    color: white;
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px chartreuse;
}

.name-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.name-button {
    margin: 25px auto 25px auto;
}

.names {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    background-color: rgb(23, 16, 68);
}

.names-box {
    width: 25%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgba(72, 61, 139, 0.5);
    border-radius: 25px;
    box-shadow: 0px 0px 5px 5px chartreuse;
}

#start {
    background: rgba(23, 16, 68, 0.5);
    margin-bottom: 10px;
}

.container {
    width: 100%;
}

#player-container {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    width: 50%;
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow: 4px 4px 5px chartreuse;
}

@media screen and (max-width: 320px) {
    .player {
        font-size: 35px;
    }
}

#player1 {
    color: chartreuse;
    font-weight: bold;
}

#winner {
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: chartreuse;
    text-shadow: 4px 4px 5px cyan;
}

.hidden {
    display: none;
}

#gameBoard {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    gap: 5px;
    margin: 25px auto;
}

@media screen and (max-width: 420px) {
    #gameBoard {
        width: 90vw;
        height: 90vw;
    }
}

.boardSquare {
    background-color: rgb(23, 16, 68);
    width: 100%;
    height: 100%;
    font-size: 60px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 4px 4px 5px chartreuse;
}

.boardSquare:hover {
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0px 0px 5px 5px chartreuse;
}

.disabled:hover {
    cursor: default;
    opacity: 1;
    box-shadow: none;
}
